<%-include('parts/head.ejs')%>

    <%-include('parts/navbar.ejs')%>

        <div class="container text-center">
            <h3>login</h3>
            <form action="/login" method="post">
                <input type="email" class="form-control" name="email" placeholder="enter your email adress">
                <input type="password" class="form-control" name="password" placeholder="password">
                <input type="submit" class="btn btn-primary" value="login">
            </form>

            <div>
                don't have account ? <a href="/login">login</a>
            </div>
        </div>

        <%-include('parts/footer.ejs')%>